<!DOCTYPE HTML>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>AV Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap logo menu-absolute m-0 h6">
                AV TALKIES
                <span class="text-primary ">.</span>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Add Product</a>
                        <a href="/admin/productlist">List Product </a>
                        <a href="/admin/category">Categories</a>
                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Order Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orderManage">Order list 1</a>
                        <a href="/admin/salesreport">Order list 2</a>
                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">User Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">List Users</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupon Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupon">Add Coupon</a>
                        <a href="/admin/coupons">List Coupon</a>

                    </div>
                </li>


            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>



                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/user.png"
                                alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add or delete a category</p>
                </div>
            </div>
            <form action="/admin/category" method="post">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="">
                                        <div class="col-12">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Name</label>
                                                <input type="text" placeholder="Type here" class="form-control"
                                                    name="categoryname" id="product_name" />
                                            </div>
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">category offer</label>
                                                <input name="OfferPrice" type="text" placeholder="%"
                                                    class="form-control" id="product_id" />
                                            </div>
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Create category</button>
                                            </div>
                                            <!-- <div class="d-grid">
                                        <button type="button" class="btn btn-primary" onclick="createCategory()">Create category</button>
                                        </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="card ">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="table-responsive px-2 ">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Category offer</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% categories.forEach(category=> { %>
                                                    <tr>

                                                        <td><b>
                                                                <a href="mailto:">
                                                                    <%= category.categoryname %>
                                                                </a>

                                                            </b></td>
                                                        <% if(category.OfferPrice){%>
                                                            <td><b>
                                                                    <%= category.OfferPrice %>%
                                                                </b></td>
                                                            <%}else{%>
                                                                <td><b>0%</b></td>
                                                                <%}%>


                                                                    <td>
                                                                        <div class="dropdown">
                                                                            <a href="/admin/categories/delete-category?id=<%= category._id %>"
                                                                                class="btn btn-md rounded font-sm hover-up">Delete</a>
                                                                        </div>
                                                                    </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </section> 
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, AV TALKIES
                </div>
            </div>
        </footer>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nameInput = document.getElementById('categoryname');
            nameInput.addEventListener('input', validateName);

            function validateName() {
                if (/\s/.test(nameInput.value)) {
                    nameInput.setCustomValidity("Name cannot contain white spaces.");
                } else {
                    nameInput.setCustomValidity("");
                }
            }
        });
    </script>
    <script>
        async function createCategory() {
            const categoryname = document.getElementById("product_name").value;
            const messageElement = document.getElementById("message");

            if (!categoryname) {
                messageElement.textContent = "Category name cannot be empty";
                return;
            }
            if (categoryname.length < 3) {
                messageElement.textContent = "Category name must be at least 3 characters long";
                return;
            }

            const formData = new FormData();
            formData.append("categoryname", categoryname);

            try {
                const response = await fetch("/admin/category", {
                    method: "POST",
                    body: formData,
                });

                if (response.ok) {
                    // Handle a successful response, e.g., redirect or display a success message.
                    window.location.href = "/admin/category"; // Redirect to the category page after a successful category creation.
                } else {
                    // Handle errors, e.g., display an error message.
                    messageElement.textContent = "Category creation failed. Please try again.";
                }
            } catch (error) {
                console.error("An error occurred:", error);
                messageElement.textContent = "An error occurred. Please try again.";
            }
        }

    </script>

    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>



</html>