<!DOCTYPE HTML>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>AV Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap logo menu-absolute m-0 h6">
                AV TALKIES
                <span class="text-primary ">.</span>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Add Product</a>
                        <a href="/admin/productlist">List Product </a>
                        <a href="/admin/category">Categories</a>
                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Order Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orderManage">Order list 1</a>
                        <a href="/admin/salesreport">Order list 2</a>

                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">User Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">List Users</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupon Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupon">Add Coupon</a>
                        <a href="/admin/coupons">List Coupon</a>

                    </div>
                </li>


            </ul>
            <hr>

            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/user.png"
                                alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <form id="addproductForm">
                <div class="row">
                    <div class="col-8">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                            <div>
                                <button form="addproductForm" id="submit-button"
                                class="btn btn-md rounded font-sm hover-up">Publich</button>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card mb-4">
                                
                                <div class="card-body">

                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product name</label>
                                        <input type="text" name="product_name" placeholder="Type here"
                                            class="form-control" id="product_name">
                                        <p id="product_name_error" class="error-message" style="color: red;"></p>
                                    </div>

                                    <div class="mb-4">
                                        <label for="category_id" class="form-label">Category</label>
                                        <select class="form-control" name="category_id" id="category_id">
                                            <option selected>Select category</option>

                                            <% categories.forEach(function(category) { %>
                                                <option value="<%= category._id %>">
                                                    <%= category.categoryname %>
                                                </option>
                                                <% }); %>
                                        </select>
                                        <p id="category_id_error" class="error-message" style="color: red;"></p>

                                    </div>

                                    <div class="mb-4">
                                        <label for="Description" class="form-label">Description</label>
                                        <textarea placeholder="Type here" name="description" class="form-control"
                                            rows="4" id="description"></textarea>
                                        <p id="descriptionError" class="error-message" style="color: red;"></p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="regular_price" class="form-label">Regular price</label>
                                                <div class="row gx-2">
                                                    <input name="product_price" placeholder="price" type="text"
                                                        class="form-control" id="product_price">
                                                    <p id="product_price_error" class="error-message"
                                                        style="color: red;"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="Offer_percentage" class="form-label">Offer
                                                    percentage</label>
                                                <input name="product_sales_price" placeholder="%" type="text"
                                                    class="form-control" id="product_sales_price">
                                                <p id="offer_price_error" class="error-message" style="color: red;"></p>

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="quantity" class="form-label">Quantity</label>
                                                <input name="quantity" placeholder="Quantity" type="text"
                                                    class="form-control" id="quantity">
                                                <p id="Quantity_error" class="error-message" style="color: red;"></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <div id="image-preview-container">
                                        </div>
                                        <!-- <img src="/assets/imgs/theme/upload.svg"  alt=""> -->
                                        <input class="form-control" type="file" name="images" id="image-input"
                                            accept="image/*" multiple>
                                        <p id="file-error" style="color: red; display: none;">You can upload up to 4
                                            images
                                            only.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, AV TALKIES
                </div>

            </div>
        </footer>

        <script>
            document.getElementById("addproductForm").addEventListener("submit", function (event) {
                var categorySelect = document.getElementById("category_id");
                var categoryError = document.getElementById("category_id_error");

                // Check if a category is selected
                if (categorySelect.value === "Select category") {
                    categoryError.textContent = "Please select a category.";
                    event.preventDefault(); // Prevent form submission
                } else {
                    categoryError.textContent = ""; // Clear error message
                }


            });
        </script>
        <script>
            // Function to update the image previews
            function updateImagePreview() {
                const imageInput = document.getElementById('image-input');
                const imagePreviewContainer = document.getElementById('image-preview-container');
                const fileError = document.getElementById('file-error');
                const submitButton = document.getElementById('submit-button');

                // Clear previous image previews
                imagePreviewContainer.innerHTML = '';

                // Check if any files were selected
                if (imageInput.files && imageInput.files.length > 0) {
                    if (imageInput.files.length > 4) {
                        fileError.style.display = 'block'; // Show error message
                        submitButton.disabled = true; // Disable the submit button
                        return;
                    } else {
                        fileError.style.display = 'none'; // Hide error message
                        submitButton.disabled = false; // Enable the submit button
                    }

                    for (let i = 0; i < imageInput.files.length; i++) {
                        const reader = new FileReader();
                        const imagePreview = document.createElement('div');
                        imagePreview.className = 'image-preview';

                        // Create an image element for the preview
                        const previewImage = document.createElement('img');
                        previewImage.className = 'preview-image';
                        previewImage.src = "/assets/imgs/theme/upload.svg"; // Default image
                        imagePreview.appendChild(previewImage);

                        imagePreviewContainer.appendChild(imagePreview);

                        reader.onload = function (e) {
                            // Display the selected image as a preview
                            previewImage.src = e.target.result;
                        };

                        reader.readAsDataURL(imageInput.files[i]);
                    }
                }
            }

            // Add an event listener to the file input to trigger the image preview function
            const imageInput = document.getElementById('image-input');
            imageInput.addEventListener('change', updateImagePreview);

            // Prevent form submission if more than 4 images are selected
            const productForm = document.getElementById('addproductForm');
            const submitButton = document.getElementById('submit-button');
            productForm.addEventListener('submit', function (event) {
                if (imageInput.files.length > 4) {
                    event.preventDefault();

                }
            });


        </script>
    </main>

    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#addproductForm").submit(function (event) {
                event.preventDefault();
                let formData = new FormData()
                console.log(formData, "hi...");
                // Get form input values
                let product_name = $("#product_name").val().trim();
                let description = $("#description").val().trim();
                let product_sales_price = $("#product_sales_price").val().trim();
                let product_price = $("#product_price").val().trim();
                let quantity = $("#quantity").val().trim();
                let category_id = $("#category_id").val();
                console.log(category_id, 'catid')
                formData.append('product_name', product_name)
                formData.append('description', description)
                formData.append('product_sales_price', product_sales_price)
                formData.append('quantity', quantity)
                formData.append('category_id', category_id)
                formData.append('product_price', product_price)
                const imageInput = document.getElementById('image-input');

                for (let i = 0; i < imageInput.files.length; i++) {
                    formData.append('images', imageInput.files[i]);
                }

                // Validation
                var isValid = true;

                if (product_name === "") {
                    $("#product_name_error").text("Please enter coupon code.");
                    isValid = false;
                } else if (product_name.length > 50) {
                    $("#product_name_error").text("Coupon Code must be 30 characters or less.");
                    isValid = false;
                }
                else {
                    $("#product_name_error").text("");
                }

                if (description === "") {
                    $("#descriptionError").text("please enter description.");
                    isValid = false;
                }
                // } else if (description.length < 200) {
                //     $("#descriptionError").text("Description must be 100 characters or less.");
                //     isValid = false;
                // }
                else {
                    $("#descriptionError").text("");
                }

                if (product_price === "") {
                    $("#product_price_error").text("Please enter amount.");
                    isValid = false;
                } else if (isNaN(product_price) || product_price <= 0) {
                    $("#product_price_error").text("Maximum Price must be greater than Zero.");
                    isValid = false;
                } else {
                    $("#product_price_error").text("");
                }

                if (product_sales_price === "") {
                    $("#offer_price_error").text("please enter discount.");
                    isValid = false;
                } else if (isNaN(product_sales_price) || product_sales_price <= 0 || product_sales_price > 100) {
                    $("#offer_price_error").text("Discount must be a valid percentage between 1% and 100%.");
                    isValid = false;
                }

                else {
                    $("#offer_price_error").text("");
                }


                if (quantity === "") {
                    $("#Quantity_error").text("Please enter minimum quantity.");
                    isValid = false;
                } else if (isNaN(quantity) || quantity <= 0) {
                    $("#Quantity_error").text("Minimum quantity must be greater than Zero.");
                    isValid = false;
                } else {
                    $("#Quantity_error").text("");
                }


                // If all fields are valid, submit the form
                if (isValid) {
                    // Assuming formData is already prepared as explained in the previous response

                    fetch("/admin/addProduct", {
                        method: "POST",
                        body: formData,
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Handle success
                            window.location.href = '/admin/products';
                        })
                        .catch(error => {
                            // Handle errors
                            console.error("Error submitting the form", error);
                        });

                } else {
                    console.log("hiii");
                }
            })
        })
    </script>

    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>


</body>


</html>