<script src="/userHome/js/jquery-3.4.1.min.js"></script>
	<script src="/userHome/js/popper.min.js"></script>
	<script src="/userHome/js/bootstrap.min.js"></script>
	<script src="/userHome/js/owl.carousel.min.js"></script>
	<script src="/userHome/js/jquery.animateNumber.min.js"></script>
	<script src="/userHome/js/jquery.waypoints.min.js"></script>
	<script src="/userHome/js/jquery.fancybox.min.js"></script>
	<script src="/userHome/js/jquery.sticky.js"></script>
	<script src="/userHome/js/aos.js"></script>
	<script src="/userHome/js/custom.js"></script>
	
</body>

</html>