<%- include('../layouts/homeLayout/header')%>

  <!-- Page Header Start -->
  <!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a href="#">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Checkout</p>
      </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Checkout Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
      <div class="col-lg-8">
          <div class="mb-4">
              <h4 class="font-weight-semi-bold mb-4">Add New Address</h4>
              <!-- Address Form -->
              <!-- Address Form -->
<form action="" method="post" class="checkout-form">
  <div class="row">
      <!-- Name Fields -->
      <div class="col-md-6 form-group">
          <label for="firstname">First Name</label>
          <input class="form-control" type="text" id="firstname" name="firstname" placeholder="John">
      </div>
      <div class="col-md-6 form-group">
          <label for="lastname">Last Name</label>
          <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Doe">
      </div>
      <!-- Email and Mobile Number -->
      <div class="col-md-6 form-group">
          <label for="email">E-mail</label>
          <input class="form-control" type="text" id="email" name="email" placeholder="example@email.com">
      </div>
      <div class="col-md-6 form-group">
          <label for="mobile">Mobile No</label>
          <input class="form-control" type="text" id="mobile" name="mobile" placeholder="+123 456 789">
      </div>
      <!-- Address Lines -->
      <div class="col-md-6 form-group">
          <label for="address1">Address Line 1</label>
          <input class="form-control" type="text" id="address1" name="address1" placeholder="123 Street">
      </div>
      <div class="col-md-6 form-group">
          <label for="address2">Address Line 2</label>
          <input class="form-control" type="text" id="address2" name="address2" placeholder="123 Street">
      </div>
      <!-- Country, City, State, ZIP Code -->
      <div class="col-md-6 form-group">
          <label for="country">Country</label>
          <input class="form-control" type="text" id="country" name="country" placeholder="Country">
      </div>
      <div class="col-md-6 form-group">
          <label for="city">City</label>
          <input class="form-control" type="text" id="city" name="city" placeholder="City">
      </div>
      <div class="col-md-6 form-group">
          <label for="state">State</label>
          <input class="form-control" type="text" id="state" name="state" placeholder="State">
      </div>
      <div class="col-md-6 form-group">
          <label for="zipcode">PIN Code</label>
          <input class="form-control" type="text" id="zipcode" name="zipcode" placeholder="ZIP Code">
      </div>
      <!-- Save Address Button -->
      <div class="col-md-12 form-group">
          <button class="btn btn-primary btn-block border-0 py-3" type="submit">Save Address</button>
      </div>
  </div>
</form>
<!-- End Address Form -->

              <!-- End Address Form -->
          </div>
      </div>
      <div class="col-lg-4">
          <!-- Payment and Order Summary -->
          <div class="card border-secondary mb-5">
              <!-- Payment Header -->
              <div class="card-header bg-secondary border-0">
                  <h4 class="font-weight-semi-bold m-0">Order Total</h4>
              </div>
              <div class="card-body">
                  <!-- Products List -->
                  <h5 class="font-weight-medium mb-3">Products</h5>
                  <!-- List the selected products and their prices here -->

                  <!-- Subtotal and Shipping Cost -->
                  <!-- Add subtotal and shipping cost details here -->
              </div>
              <div class="card-footer border-secondary bg-transparent">
                  <!-- Total Price -->
                  <div class="d-flex justify-content-between mt-2">
                      <h5 class="font-weight-bold">Total</h5>
                      <!-- Calculate and display the total price here -->
                  </div>
              </div>
          </div>
          <!-- Payment Options -->
          <!-- Add payment options here -->
      </div>
  </div>
</div>
<!-- Checkout End -->


<div class="site-footer">


  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="widget mb-4">
          <h3 class="mb-2">About UntreeStore</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi cumque rem recusandae quaerat at asperiores beatae saepe repudiandae quam rerum aspernatur dolores et ipsa obcaecati voluptates libero</p>
        </div>
        <div class="widget">
          <h3>Join our mailing list and receive exclusives</h3>
          <form action="#" class="subscribe">
            <div class="d-flex">
              <input type="email" class="form-control" placeholder="Email address">
              <input type="submit" class="btn btn-black" value="Subscribe">
            </div>
          </form>

          
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <h3>Help</h3> 
          <ul class="list-unstyled">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">FAQ</a></li>   
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <h3>About</h3>
          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">FAQ</a></li>   
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <h3>Shop</h3>
          <ul class="list-unstyled">
            <li><a href="#">Store</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Student Discount</a></li>
          </ul>
        </div>
      </div>
      
    </div>


    <div class="row mt-5">
      <div class="col-12 text-center">
        <ul class="list-unstyled social">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-linkedin"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
        </ul>
      </div>
      <!-- <div class="col-12 text-center copyright">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>  License information: https://untree.co/license/ 
        </p>

      </div> -->
    </div>
  </div> <!-- /.container -->
</div> <!-- /.site-footer -->

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>




<%- include('../layouts/homeLayout/footer')%>