<% include('../layouts/header.ejs') %>
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="/public/css/userlogin.css" />
</head>
<div class="header">
  <a>
    <h1>AV STORE</h1>
  </a>
</div>
<div class="container w-25 my-5">
  <h3 class="mb-4">User Login</h3>
  <h5 class="mb-3 text-muted">* required fields</h5>
  <% if (typeof message !== 'undefined') { %>
  <h3><%= message %></h3>
  <% } %>
  <form action="" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="password" class="form-label"></label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Password*"
        required
      />
      <div class="invalid-feedback">Please enter a password.</div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label"></label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="form-control"
        placeholder="Confirm your Password"
        required
      />
      <div class="invalid-feedback">Please confirm your password.</div>
    </div>

    <div class="text-center mb-3">
      <button
        type="submit"
        class="btnn btn-dark full-width btn-outline-black btn-sm"
      >
        Change Password
      </button>
    </div>
  </form>
</div>
<% include('../layouts/footer.ejs') %>
