<% include('../layouts/header.ejs') %>
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="/public/css/userlogin.css" />
</head>
<div class="header">
  <a>
    <h1>AV STORE</h1>
  </a>
</div>
<div class="container w-25 my-5">
  <h3 class="mb-4">User Login</h3>
  <h5 class="mb-3 text-muted">* required fields</h5>
  <% if (typeof message !== 'undefined') { %>
  <h3><%= message %></h3>
  <% } %>
  <form
    action=""
    method="post"
    class="needs-validation"
    novalidate
  >
    <div class="mb-3">
      <label for="email" class="form-label"></label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        placeholder="Email*"
        required
      />
      <div class="invalid-feedback">Please provide a valid email.</div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label"></label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Password*"
        required
      />
      <div class="invalid-feedback">Please enter a password.</div>
    </div>

    <!-- <button type="submit" class="btn btn-dark btn-center">Register</button> -->
    <div class="text-center mb-3">
      <!-- Center the button within the form -->
      <button type="submit" class="btnn btn-dark full-width btn-outline-black btn-sm">Login</button>
    </div>
  </form>

  <div class="text-center mt-5">
    <span class="d-block mobile-text fw-bold" >OR</span>
    <a href="/registeration" class="font-weight-bold text-black cursor text-decoration-underline">Create Account</a>
  </div>


</div>
<% include('../layouts/footer.ejs') %>

<script>
  function validateLoginForm() {
    const email = document.getElementById("email").value.trim();
    const password = document.getElementById("password").value.trim();

    if (!email || !password) {
      alert("Please fill in all required fields.");
      return false; // Prevent form submission
    }

    // You can add more advanced validation if needed

    return true; // Allow form submission
  }
</script>
